<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842499060628-9u106n50ekc0673o3libu0egokrcefpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842499060628-9u106n50ekc0673o3libu0egokrcefpo</string>
	<key>API_KEY</key>
	<string>AIzaSyDwI3wtGjnwvF8xqI4MMKEXQXnXeTOaaMM</string>
	<key>GCM_SENDER_ID</key>
	<string>842499060628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-login-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-login-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842499060628:ios:720065050e1a2558</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-login-ios.firebaseio.com</string>
</dict>
</plist>